OPENAI_API_KEY=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
PINECONE_API_KEY=pcsk_5VuBvo_5FqwstyvFn3QkZL1pQQS9a8CoeEx2F5e6aqv2Z4GLr2ZSr7CjBBkwE8XGANKL82
PINECONE_INDEX_NAME=my-index
GEMINI_API_KEY=AIzaSyC3LNv1UUMd0FAIH_Vx2DYffe6s2r6RFHI